[core]
  packedGitLimit = 64m
  packedGitWindowSize = 64m
	pager = less

[pack]
  deltaCacheSize = 64m
  packSizeLimit = 64m
  windowMemory = 64m

[http]
  postbuffer = 5m

[commit]
	gpgsign = true
[color]
	ui = true
