.abook/addressbook~
.apt-daily
*.bak
.bash_history
.cache
.config/akregatorrc
.config/autostart/
.config/balena-etcher-electron/
.config/baloofileinformationrc
.config/baloofilerc
.config/bleachbit/
.config/bluedevilglobalrc
.config/caja/
.config/cef_user_data/
.config/clipit/
.config/composer/
.config/dconf/
.config/dolphinrc
.config/drkonqirc
.config/fontconfig/
.config/geany/
.config/GIMP/
.config/google-chrome/
.config/gtk-2.0/gtkfilechooser.ini
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kactivitymanagerd-statsrc
.config/katepartrc
.config/kateschemarc
.config/katesyntaxhighlightingrc
.config/katevirc
.config/kcmdisplayrc
.config/kcmshell5rc
.config/kconf_updaterc
.config/KDE/
.config/kdeconnect/
.config/kded5rc
.config/kde.org/
.config/kdialogrc
.config/kdiff3rc
.config/kgammarc
.config/khotkeysrc
.config/kinfocenterrc
.config/klaunchrc
.config/kleopatrarc
.config/klipperrc
.config/kmenueditrc
.config/kmixrc
.config/knotifyrc
.config/konq_history
.config/konquerorrc
.config/krunnerrc
.config/krusaderrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ksysguardrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kwriterc
.config/lxkeymap.cfg
.config/lxpanel/
.config/lxterminal/
.config/Master of Orion/
.config/menus/
.config/MineTime/
.config/mutt/.mailsynclastrun
.config/*.notifyrc
.config/okularpartrc
.config/okularrc
.config/onionshare/
.config/openbox/
.config/pcmanfm/
.config/plasma-nm
.config/plasmashellrc
.config/pulse/
.config/QtProject.conf
.config/session/
.config/skypeforlinux/
.config/Slack/
.config/spectaclerc
.config/spotify/
.config/systemsettingsrc
.config/touchpadrc
.config/trashrc
.config/Trolltech.conf
.config/unity3d/
.config/VirtualBox/
.config/vlc/
.config/vlcrc
.config/VSCodium/Backups/
.config/VSCodium/Cache/
.config/VSCodium/CachedData/
.config/VSCodium/CachedExtensions/
.config/VSCodium/Code Cache/
.config/VSCodium/Cookies
.config/VSCodium/Cookies-journal
.config/VSCodium/GPUCache/
.config/VSCodium/languagepacks.json
.config/VSCodium/logs/
.config/VSCodium/machineid
.config/VSCodium/Network Persistent State
.config/VSCodium/rapid_render.json
.config/VSCodium/storage.json
.config/VSCodium/User/globalStorage/
.config/VSCodium/User/gpm-recentItems.json
.config/VSCodium/User/workspaceStorage/
.config/xfce4/
.dbeaver4/
Desktop/
.dmrc
Documents/
Downloads/
.emacs
.fehbg
.fonts/.uuid
.gconf/
.gftp/
.gksu.lock
.gnupg
.install4j
.java/
.kde/
.keymap-selected
.kube/cache
.kube/cache/
.kube/http-cache
.kube/http-cache/
.last-updated
.lesshst
.local/share/applications/
.local/share/composer/
.local/share/dino/files/
.local/share/dolphin/
.local/share/gvfs-metadata/
.local/share/icons
.local/share/kactivitymanagerd/
.local/share/kcookiejar
.local/share/kded5/
.local/share/keyrings/
.local/share/kglobalaccel/
.local/share/klipper/
.local/share/konqueror/
.local/share/krusader/
.local/share/kscreen/
.local/share/ksysguard/
.local/share/kwalletd/
.local/share/mail/
.local/share/mc/
.local/share/nano/
.local/share/nvim/
.local/share/okular/
.local/share/PBE/QOwnNotes/QOwnNotes.sqlite
.local/share/plasma_icons/
.local/share/ranger/
.local/share/RecentDocuments/
.local/share/recently-used.xbel
.local/share/sddm/xorg-session.log
.local/share/Steam/
.local/share/torbrowser/
.local/share/Trash/
.local/share/user-places.xbel
.local/share/user-places.xbel.tbcache
.local/share/vlc/
.local/share/vulkan/
.motd
.mozilla/
.msmtpqueue
Music
.mysql_history
.mysql/workbench/
.password-store/
.phpls/
Pictures/
.pki/
.pulse-cookie
.recently-used
.rest-client/
.rubberband.wisdom.d
.selected_editor
/snap/
.sqltools-setup
.ssh/
.steam/
steam.desktop
.steampath
.steampid
*.swp
Templates/
.tig_history
.ts3client/
.viminfo
VirtualBox VMs/
.vnc/
.vscode-oss/
.w3m/
.wallpaper
.wget-hsts
workspace/alembiq/
workspace/nangu
.Xauthority
.xsession-errors
.xsession-errors.old
